@import url("https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  transition: all 0.1s ease;
  font-size: 12pt;
}

button,
a {
  cursor: pointer;
}

h1 {
  @apply text-xl;
}
.font-urbanist {
  font-family: "Urbanist", sans-serif;
  letter-spacing: 1px;
}
.baloo {
  font-family: "Baloo Tamma 2", system-ui;
  font-optical-sizing: auto;
  font-size: 18px;
  letter-spacing: normal;
  @apply font-semibold md:text-base;
}
.bold {
  font-weight: 600;
}

body {
  background-color: #eff0f3;
}

@layer components {
  /* login */
  .loginInput {
    @apply mx-auto border-white border rounded-md bg-transparent pl-2 placeholder-custom tracking-wider py-2;
  }
  /* nav */
  .nav_item {
    @apply transition-transform w-fit text-gray-400;
  }
  .nav_item:hover {
    @apply text-black  max-md:translate-x-[.5em] md:translate-y-[-.25em];
  }
  .active {
    @apply text-black max-md:translate-x-[.55em] md:translate-y-[-.25em];
  }
  .active hr {
    @apply w-2/3;
  }
  .active span {
    @apply block md:hidden absolute w-2 h-2 top-2 left-[-15px] rounded-full bg-green-600;
  }
  .nav_underline {
    @apply w-0 mx-auto h-[0.2em] transition-all bg-green-600;
  }

  /* slide-Meu */
  .slide-menu {
    @apply fixed top-0 transition-transform duration-300 ease-out translate-x-24  w-[260px] h-[350px] rounded-bl-3xl bg-white p-7 border-2;
  }
  /* burger */
  :root {
    --bar-width: 20px;
    --bar-height: 3px;
    --burger-gap: 2pt;
    --timing: 0.3s ease;
    --burger-height: calc((var(--bar-height) * 3) + var(--burger-gap) * 2);
  }

  .open-button input,
  .open-button::before,
  .open-button::after {
    content: "";
    width: var(--bar-width);
    transition: all var(--timing);
    @apply relative  bg-green-800 rounded-full;
  }

  .open-button input {
    appearance: none;
    height: calc((var(--bar-height)) - 1px);
    @apply p-0 m-0;
  }

  .open-button::before {
    height: calc((var(--bar-height)) - 2px);
  }

  .open-button::after {
    height: var(--bar-height);
  }
  .open-button {
    gap: var(--burger-gap);
    shape-rendering: crispEdges;
    @apply relative bottom-[6px] flex flex-col justify-center items-center cursor-pointer rounded-full p-0 w-10 h-10 bg-[#eef0f2];
  }

  .close-button input {
    opacity: 0%;
    height: 0px;
  }

  .close-button::before {
    height: var(--bar-height);
    rotate: 45deg;
    translate: 0 5px;
  }

  .close-button::after {
    height: var(--bar-height);
    rotate: -45deg;
    translate: 0 -4px;
  }
}

/* Login page */

.placeholder-text-sm::placeholder {
  font-size: 0.875rem;
}
.placeholder-custom::placeholder {
  @apply text-[10pt] font-extralight text-white; /* Apply Tailwind utilities */
}

.login-bg-image {
  background-image: url("/images/322471-gorgerous-school-background-2500x1667-for-android-50.jpg");
  @apply fixed w-full min-h-[100dvh] bg-center bg-cover z-[-1];
}
.login-bg-image::before {
  content: "";
  @apply absolute top-0 left-0 w-full h-full bg-[#002a28] opacity-[0.9];
}

/* Home Content page */
.box-bg-image {
  background-image: url("/images/green_abstract.jpg");
  @apply absolute z-[-20] w-full h-[inherit] bg-center bg-cover rounded-lg;
}

.subBG {
  @apply absolute z-[-10] w-full h-[inherit] bg-center bg-cover rounded-lg opacity-60;
}

  

.button-expand {
  @apply absolute bottom-0 right-0 bg-white text-black m-3 max-sm:w-[100%] max-sm:h-[100%] max-sm:text-white max-sm:m-0 max-sm:rounded-lg;
}

.home-box:hover button {
  @apply max-sm:opacity-0;
}

.home-box:hover .box-text,
.home-box:hover p {
  @apply max-sm:opacity-100 max-sm:translate-x-4;
}

/* MQ Content */
.searchBar::after {
  content: url(../images/icon_Search.png);
  @apply absolute top-[2px] right-4 scale-75 opacity-30 transition-all;
}
.searchBar:has(input:focus)::after{
  opacity:0%;
}

.quiz-grid {
  grid-template-columns: repeat(auto-fit, minmax(208px, 1fr));
  gap: 3em;
}

.quiz-grid > div {
  display: grid;
  grid-template-rows: auto 1fr auto;
  @apply m-auto;
}

.colGrid{
  
  grid-template-columns: 58% auto;
}

/* Take Quiz */

/* .tick:has(label:focus) */

input[type="radio"]:checked + span {
  @apply bg-green-900
}
input[type="radio"]:checked + span > .check {
@apply block 
}
label:has(input[type="radio"]:checked ) {
  background-color: #04fc0045;
}

/* Create Quiz */
.multiOption{
  @apply relative ml-8 focus:bg-slate-300 mb-4
}
.multiOption::before{
  content:'';
  @apply absolute bottom-2 -left-6 block w-4 h-4 rounded-full border-2 border-gray-400
}

.addQuestion::before{
  content: '+';
  @apply relative text-2xl mr-2 top-[1px]
}
.createButton:has(button:hover){
  @apply -translate-y-1 scale-105
}